* { box-sizing: border-box; }

.playground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 768px;
  width: 1024px;
  background-color: white;
  border: thin solid gray;
}


.hat-top {
  border: thin solid;
  border-top-left-radius: 10em;
  border-top-right-radius: 10em;
  height: 120px;
  width: 300px;
  position: absolute;
  left: 0;
  top: -80px;
}
.hat-bottom {
  border: thin solid;
  border-radius: 10em;
  height: 70px;
  width: 360px;
  position: absolute;
  left: -30px;
  top: 10px;
}

.ear {
  border: thin solid;
  height: 115px;
  width: 50px;
  position: absolute;
}

.right-ear {
  left: -50px;
  top: 135px;
  border-top-left-radius: 5em;
  border-bottom-left-radius: 10em;

}

.left-ear {
  left: 296px;
  top: 135px;
  border-top-right-radius: 5em;
  border-bottom-right-radius: 10em;
}

.arm {
  border: thin solid;
  height: 160px;
  width: 50px;
  position: absolute;
  }
.right-arm {
  left: -50px;
  top: 150px;
  border-top-left-radius: 2em;
  }
.left-arm {
  left: 295px;
  top: 150px;
  border-top-right-radius: 2em;
}

.hand {
  border: thin solid;
  height: 100px;
  width: 90px;
  position: absolute;
}
.right-hand {
  left: -28px;
  top: 110px;
  border-radius: 10em;
}
.left-hand {
  left: -13px;
  top: 110px;
  border-radius: 10em;
}

.eye {
  border: thin solid;
  border-radius: 10em;
  height: 100px;
  width: 70px;
  background-color: white;
  }
.pupil {
  border-radius: 10em;
  height: 50px;
  width: 50px;
  position: relative;
  top: 25px;
  left: 10px;
}
.right-eye {
  position: absolute;
  left: 50px;
  top: 110px;
}
.left-eye {
  position: absolute;
  left: 180px;
  top: 110px;
}
.eyebrow {
  border: thin solid;
  border-radius: 10em;
  height: 30px;
  width: 110px;
  background-color: black;
}
.right-eyebrow {
  position: absolute;
  top: 100px;
  left: 30px;
}
.left-eyebrow {
  position: absolute;
  top: 100px;
  left: 160px;
}

.nose {
  border: thin solid;
  border-radius: 10em;
  height: 90px;
  width: 50px;
  position: absolute;
  left: 125px;
  top: 160px;
}


.moustache {
  border: thin solid;
  border-top-left-radius: 10em;
  border-top-right-radius: 10em;
  height: 80px;
  width: 150px;
  background-color: black;
  position: absolute;
  left: 75px;
  top: 205px;
  }

.shoe {
  border: thin solid;
  height: 80px;
  width: 150px;
  background-color: black;
  position: absolute;
}
.right-shoe {
  border-top-left-radius: 10em;
  border-top-right-radius: 2em;
  left: -20px;
  top: 340px;
}
.left-shoe {
  border-top-left-radius: 2em;
  border-top-right-radius: 10em;
  left: 160px;
  top: 340px;
}

  /* Potato1 Options */

.hair1 {
  background-color: lightgrey;
}
.skin1 {
  background-color: #663d1d;
}
.pupil1 {
  background-color: red;
}
#head1 {
  border: thin solid;
  border-radius: 10em;
  height: 380px;
  width: 300px;
  background-color: #995b2b;
  position: relative;
  left: 120px;
  top: 150px;
  }
.black {
  background-color: black;
}

  /*Potato2 Options */

.hair2 {
  background-color: yellow;

}
.skin2 {
  background-color: #f5e4b3;
}
.pupil2 {
  background-color: cyan;
}

#head2 {
  border: thin solid;
  border-radius: 10em;
  height: 380px;
  width: 300px;
  background-color: #f7ebc6;
  position: relative;
  left: 620px;
  top: -230px;
}
.blue {
  background-color: #5cacf2;
}
